services:
  mongodb:
    build: ./mongodb
    image: mongodb:v1
    container_name: mongodb
    volumes:
      - mongodb:/data/db # no spaces befor affter :
  catalogue: # even if this is placed first it craete mongodb first and then this
    build:
      context: ./catalogue
      dockerfile: Dockerfile # if differen name for docker file
    image: catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  redis:
    image: redis:7
    container_name: redis
    volumes:
      - redis:/data
  mysql:
    build: ./mysql
    image: mysql:v1
    container_name: mysql
    volumes:
      - mysql:/var/lib/mysql
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
      - rabbitmq:/var/lib/rabbitmq
  user:
    build: ./user
    image: user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis
  cart:
    build: ./cart
    image: cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  shipping:
    build: ./build
    image: shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment:
    build: ./build
    image: payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend:
    build: ./build
    image: frontend:v1
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
    - cart
    - catalogue
    - user
    - shipping
    - payment
networks:
  default:
    driver: bridge
    name: roboshop
    external: false
volumes:
  mongodb:
  redis:
  mysql:
  rabbitmq:
