services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
  catalogue: # even if this is placed first it craete mongodb first and then this
    image: catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb

networks:
  default:
    driver: bridge
    name: roboshop
    external: false
